/* ---------------------- COLOR  SCHEME -------------------
terra cotta #E07A5F
deep state blue #3D405B
*/

/************************* SITE WIDE ********************/
*{
    font-family: "Joseph in Sans", sans-serif;
    box-sizing: border-box;
}

h1 {
    margin: 1rem 10px;
    color: #3D405B;
}

/************************* HEADER ***********************/
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.2rem;
    color: #3D405B;
}

/************************** HAMBURGER **************/
.hamburger {
    background: none;
    border: none;
    color: #3D405B;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
}

/************************** NAVIGATION **************/
.navigation {
    display: none;
}
.navigation.show{
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: #3D405B;
    text-decoration: none;
    border: solid 1px #ddd;
}

.navigation li.current {
    background-color: #eee;
}

.navigation a:hover {
    background-color: #E07A5F;
}

h1 {
    margin-left: 10px;
}

/************************** FOOTER **************/
footer {
    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc solid 1px;
    border-radius: 22px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #ddd;
}