/* Home Page */

main {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    margin-top: 30px;
    row-gap: 20px;
}

section {
    margin: 0 auto;
}

section h3,
section h4 {
    font-size: var(--font-size-base);
}

.hero-main-box {
    grid-column: 2/3;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    justify-content: center;
    align-content: center;
}

article {
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 3px 5px var(--paragraph-background-color);
    height: auto;
    padding: 10px;
}

.hero-box-img {
    grid-column: 1/4;
    grid-row: 1/4;
    margin: 0 auto;
}

.hero-box-img img {
    border-radius: 1px;
    box-shadow: 0 4px 8px var(--paragraph-background-color);
}

.call-to-action {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-content: center;
    align-content: center;
    background-color: rgba(31, 46, 59, 0.764);
    color: var(--paragraph-color-on-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--paragraph-background-color);
}

.call-to-action h3 {
    padding: 0;
    color: var(--headline-color-on-color);
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
}

.call-to-action p {
    padding: 0;
    text-align: left;
    margin: 0;
}

.join-us {
    background-color: var(--big-fish-to-fry);
    width: 100px;
    height: 35px;
    border: 1px solid var(--lunar-base);
    padding: 5px;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.join-us a {
    text-decoration: none;
    color: var(--king-kong);
    transition: color 0.3s ease;
}

.join-us:hover {
    background-color: var(--yale-blue);
    border-color: var(--lunar-base);
}

.join-us:hover a {
    color: var(--white);
}

/********************* */

.event-main-box {
    grid-column: 2/3;
    grid-row: 2;
    display: grid;
    grid-template-rows: auto auto auto;
    text-align: center;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    color: var(--king-kong);
}

.event-main {
    padding: 20px;
    margin: 0 auto;
}

#events-list {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.event {
    padding: 15px;
    text-align: left;
}

.event-main h2,
.current-weather h3,
.current-weather h2,
.weather-forecast h3 {
    font-size: var(--font-size-extra-large);
}

.event h3 {
    margin: 0;
    font-size: var(--font-size-base);
}

.event p {
    margin: 0;
}

.weather-main {
    grid-row: 2;
    width: 340px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-main p {
    text-align: center;
}

.current-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;

    width: 100%;
    max-width: 350px;
    text-align: center;
}

.current-weather h3 {
    margin-bottom: 10px;
}

.current-weather p {
    margin: 10px 0;
}

.current-weather figure {
    margin: 10px 0;
}

.current-weather figcaption {
    margin-top: 5px;
    font-weight: var(--open-sans-font-weight);
    font-style: var(--open-sans-font-style);
}

.forecast p {
    text-align: center;
}

.weather-forecast {
    grid-row: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.forecast {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    box-shadow: none;
}

.day-box {
    width: 250px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--paragraph-background-color);
    margin: 20px;
    padding: 15px;
}

/* Spotlights */
.spotlights-main-box {
    grid-column: 2/3;
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 20px;
    padding: 40px;
    margin-bottom: 50px;
    background-color: #4439328f;
}

.spotlights-main-box p {
    padding: 5px;
}

.spot-card {
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--king-kong);
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    width: 300px;
    height: auto;
}

.spot-card-01 {
    grid-row: 1;
}

.spot-card-02 {
    grid-row: 2;
}

.spot-card-03 {
    grid-row: 3;
}

.title-spot h3,
.title-spot h4 {
    padding: 10px;
    margin: 0;
}

.title-spot h4 {
    font-size: 16px;
    color: var(--king-kong);
}

.title-spot h3 {
    font-size: 12px;
    color: var(--king-kong);
}

.spot-data {
    padding: 0px 20px;
}

.spot-data p {
    font-size: 14px;
    color: var(--onyx);
}

.spot-img {
    padding: 10px 0;
}

.spot-img img {
    max-width: 100px;
    height: auto;
    border-radius: 8px;
}

.spot-card a {
    color: var(--king-kong);
    text-decoration: none;
    transition: color 0.3s ease;
}

.spot-card a:hover {
    color: var(--lunar-base);
}

.spot-card-01,
.spot-card-02,
.spot-card-03 {
    width: 250px;
    height: 300px;
    padding: 20px;
    margin: 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--onyx);
}

.spot-card {
    background-color: var(--paragraph-background-white);
}

@media (min-width: 860px) {

    /* Home Page */
    .container-home {
        display: grid;
        max-width: 1024px;
        height: auto;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        text-align: center;
        gap: 20px;
    }

    .hero-main-box {
        grid-row: 1;
        grid-column: 2;
    }

    .call-to-action {
        width: 450px;
        height: 220px;
    }

    /* Event and Weather */
    .event-main-box {
        grid-row: 2;
        grid-column: 2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .event-main,
    .weather-main {
        width: 400px;
        height: auto;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .event-main {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .weather-main {
        grid-row: 1/2;
        grid-column: 2/3;
    }

    .weather-forecast {
        grid-row: 2/3;
        grid-column: 1/3;
    }

    .forecast {
        width: 100%;
    }

    .main-day-box {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
    }

    /* Spotlights */
    .spotlights-main-box {
        grid-row: 3;
        grid-column: 2;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 50px;
        gap: 20px;
        max-width: 100%;
    }

    .spot-card-01 {
        grid-column: 1;
        grid-row: 1;
    }

    .spot-card-02 {
        grid-column: 2;
        grid-row: 1;
    }

    .spot-card-03 {
        grid-column: 3;
        grid-row: 1;
    }

    .spot-card-01,
    .spot-card-02,
    .spot-card-03 {
        width: 250px;
        height: 320px;
        padding: 20px;
        margin: 0;
        border-radius: 10px;
        box-shadow: 0 4px 8px var(--onyx);
    }
}