:root {
    /*Breakpoint 
    --desktop-vw: 1200px;
    --laptop-vw: 1024px;
    --table-vw: 768px;
    --phone-vw: 480px;
    */

    /* CSS HEX */
    --true-blue: #0466c8ff;
    --sapphire: #0353a4ff;
    --yale-blue: #023e7dff;
    --oxford-blue: #002855ff;
    --oxford-blue-2: #001845ff;
    --oxford-blue-3: #001233ff;
    --delft-blue: #33415cff;
    --paynes-gray: #5c677dff;
    --slate-gray: #7d8597ff;
    --cool-gray: #979dacff;
    --alice-blue: #edf6f9ff;

    /* Text Colors */
    /* Headlines on a white background */
    --headline-color-on-white: var(--oxford-blue-3);
    /* Headlines on a colored background */
    --headline-color-on-color: var(--alice-blue);
    /* Paragraph text on a white background */
    --paragraph-color-on-white: var(--secondary-color);
    /* Paragraph text on a colored background */
    --paragraph-color-on-color: var(--accent3-color);

    --paragraph-background-color: var(--alice-blue);

    /* Navigation Colors */
    --nav-link-color: var(--oxford-blue-3);
    --nav-background-color: var(--cool-gray);
    --nav-hover-link-color: var(--oxford-blue-3);
    --nav-hover-background-color: var(--true-blue);

    --barlow-regular-font-family: "Barlow", sans-serif;
    --barlow-regular-font-weight: 400;
    --barlow-regular-font-style: normal;

    --lato-regular-font-family: "Lato", sans-serif;
    --lato-regular-font-weight: 400;
    --lato-regular-font-style: normal;

    --font-size-small: 16px;
    --font-size-base: 20px;
    --font-size-large: 24px;
}

h1,
h2,
h3,
h4,
h5,
li {
    font-family: var(--lato-regular-font-family);
}

p {
    font-family: var(--barlow-regular-font-family);
}

body {
    background-color: var(--alice-blue);
    font-size: 20px;
    margin: 0;
    padding: 0;
}

/************************* HEADER ***********************/

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 20px;
    align-items: end;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1rem;
    margin: 0.5rem;
}

/************************** HAMBURGER MENU **************/
.hamburger {
    font-size: 40px;
    text-decoration: none;
    padding: 8px 12px;
    background-color: var(--oxford-blue);
    color: var(--alice-blue);
}

.hamburger {
    font-family: Roboto, sans-serif;
    position: absolute;
    top: 1.6rem;
    right: 1.5rem;
    cursor: pointer;
    border: 0;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
}

/************************** NAVIGATION **************/
.navigation {
    background-color: var(--yale-blue);
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    /*display: none;*/
    border-bottom: 1px solid #555;
}

.navigation a {
    display: block;
    color: var(--alice-blue);
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

.navigation a:hover:not(.active) {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}

.navigation a:hover {
    background-color: #E07A5F;
}

nav a.active {
    background-color: #fef9d9;
    color: var(--oxford-blue-3);
}

/************************** MAIN CONTENT **************/

main {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto 1fr auto;
    gap: 20px;
    margin: 20px;
}

main section {
    border-radius: 5px;
    box-shadow: 6px 4px 8px;
    margin: 10px auto;
    background-color: var(--paragraph-background-color);
    text-align: center;
}

section h2 {
    background-color: var(--oxford-blue-3);
    color: var(--headline-color-on-color);
    margin: 0;
    border-radius: 5px 5px 0 0;
    font-size: var(--font-size-base);
    padding: 10px 0;
}
section img {
    display: block;
    height: auto;
    width: 30%; 
    padding: 30px;   
}

section img {
    border-radius: 10px;
    margin: 0 auto;
}

#abt-me-par {
    text-align: left;
}

section p {
    font-size: var(--font-size-small);
    margin: 0 0 10px 0;
    padding: 20px;
}

.boxcertificate01 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;
}

.boxButton {
    padding-top: 10px;
}

.courseButton {
    flex: 1 1 100%;
    margin: 5px;
}

.courseButton {
    display: inline-block;
    padding: .25rem 1rem;
    border-radius: 5rem;
    color: var(--alice-blue);
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.courseButton:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--slate-gray);
    border-radius: 5rem;
    z-index: -2;
}

.courseButton:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--alice-blue);
    transition: all 0.3s;
    border-radius: 5rem;
    z-index: -1;
}

.courseButton:hover {
    color: var(--oxford-blue-3);
}

.courseButton:hover:before {
    width: 100%;
}

.course {
    display: flex;
    align-items: center;
    justify-content: center;
}

.course {
    border:var(--oxford-blue-3) solid 2px;
    width: 80%;
    padding: 10px;
    border-radius: 5px;
}

.course {
    transition: all 0.3s;
    position: relative;
}

.course h3 {
    font-size: var(--font-size-small);
    margin: 0;
    padding: 0;
}

.courseNoComplete {
    background-color: var(--alice-blue);
    color: var(--oxford-blue-3);
}

.courseComplete {
    background-color: var(--yale-blue);
    color: white;
}

.courseComplete h3 {
    transition: all 0.3s;
}

.course::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(0, 18, 51, 0.468);
    border-bottom-color: rgba(0, 18, 51, 0.468);
    transform: scale(0.1, 1);
}

.course:hover h3 {
    letter-spacing: 2px;
}

.course:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}

.course::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    background-color: rgba(8, 118, 227, 0.1);
}

dialog {
    border: 1px solid var(--oxford-blue-3);
    border-radius: .25rem;
    padding: 1rem;
    background-color: var(--paragraph-background-color);
    box-shadow: 0 0 3rem var(--oxford-blue-3);
    width: 90%;
    max-width: 600pxx;
}

::backdrop {
    position: absolute;
    top: 23px;
    right: 23px;
    padding: .5rem 1rem;
    border: 1px solid var(--oxford-blue-3);
}

/************************** FOOTER **************/
footer {
    padding: 1rem 10px;
    text-align: center;
    margin-top: auto;
}

footer p {
    margin: 0;
    text-align: center;
    padding: 10px;
}

.social-links {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #5c677dff solid 1px;
    border-radius: 25px;
}

.social-links img {
    width: 40px;
    height: 40px;
    padding-bottom: 10px;
}

.social-links a:hover {
    transform: scale(1.1);
}

div.footer-info {
    background-color: var(--oxford-blue);
    color: var(--alice-blue);
}

