:root {
    /* Color Palette */
    --black: hsla(0, 0%, 0%, 1);
    --eerie-black: hsla(120, 7%, 11%, 1);
    --caribbean-current: hsla(182, 100%, 23%, 1);
    --light-sea-green: hsla(175, 87%, 40%, 1);
    --hookers-green: hsla(165, 19%, 40%, 1);
    --floral-white: hsla(47, 43%, 96%, 1);
    --white: hsla(0, 0%, 100%, 1);

    --prussian-blue: hsla(201, 100%, 14%, 1);
    --fire-engine-red: hsla(0, 69%, 50%, 1);
    --orange-wheel: hsla(31, 100%, 48%, 1);
    --xanthous: hsla(40, 97%, 64%, 1);
    --vanilla: hsla(51, 55%, 82%, 1);

    --viridian: hsla(154, 15%, 49%, 1);
    --cambridge-blue: hsla(133, 18%, 59%, 1);
    --mint-green: hsla(167, 29%, 85%, 1);
    --azure-web: hsla(180, 31%, 94%, 1);
    --mint-cream: hsla(133, 100%, 98%, 1);

    --ash-gray: hsla(97, 13%, 80%, 1);
    --dark-slate-gray: hsla(186, 21%, 26%, 1);
    --charcoal: hsla(201, 20%, 23%, 1);

    /* Font Settings */
    --header-font-family: "Oswald", sans-serif;
    --paragraph-font-family: "Source Sans Pro", monospace;

    /* Text Colors */
    --font-color-on-background-color: var(--white);
    --font-color-on-background-white: var(--eerie-black);

    /* Font Sizes */
    --font-size-mv-paragraph: 1rem;
    --font-size-mv-header: 1.2rem;
    --font-size-dv-paragraph: 1.2rem;
    --font-size-dv-header: 1.4rem;

    /* Navbar Colors */
    --background-color-header-footer: var(--floral-white);
    --background-color-menu-button: var(--black);
    --link-nav-color: var(--eerie-black);
    --nav-hover-link-color: var(--prussian-blue);
    --nav-hover-background-color: var(--xanthous);
}

/* General */

body {
    background-color: var(--floral-white);
    max-width: 930px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
a,
label {
    font-family: var(--header-font-family);
    font-size: var(--font-size-mv-header);
}

p {
    font-family: var(--paragraph-font-family);
    font-size: var(--font-size-mv-paragraph);
}

button {
    font-family: var(--header-font-family);
    font-size: var(--font-size-mv-paragraph);
}

/* Header */

header,
footer {
    width: 100%;
    background-color: var(--background-color-header-footer);
    color: var(--charcoal);
}

.box-logo-header {
    display: flex;
    align-items: center;
    justify-content: left;
}

.box-logo-header h1 {
    display: inline-block;
}

.logo-chamber {
    width: 80px;
    height: 80px;
    padding: 10px 5px;
    cursor: pointer;
}

header h1 {
    display: inline-block;
    text-align: left;
    padding: 5px;
}

#menu {
    display: block;
    font-size: 40px;
    text-decoration: none;
    padding: 8px 12px;
    background-color: var(--background-color-header-footer);
    color: var(--background-color-menu-button);
    position: absolute;
    top: 0.7rem;
    right: 1.5rem;
    cursor: pointer;
    border: 0;
    font-weight: bold;
}

#menu::before {
    content: "≡";
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: none;
}

.nav-a {
    display: block;
    color: var(--link-nav-color);
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: bold;
}

.nav-a:hover:not(.active) {
    color: var(--nav-hover-link-color);
}

nav li:last-child {
    border-bottom: none;
}

.nav-a.active {
    color: var(--black);
    text-decoration: underline;
}

.open li {
    display: block;
}

#menu.open::before {
    content: "X";
}

/* Main*/
main {
    padding: 20px;
    margin: 0 auto;
    place-items: center;
}

.intro-box {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto 1fr;
    z-index: 2;
}

.intro-img {
    grid-row: 1 / 4;
    grid-column: 1 / 4;
    z-index: -1;
    margin: 0 auto;
}

.action-msg,
.action-box img,
.social-box,
.side_article,
.intro-content,
.intro-img img {
    border-radius: 15px;
}

.intro-content {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 1;
    background-color: rgba(0, 46, 71, 0.481);
    border-radius: 5px;
    padding: 10px;
    width: 300px;
}

.intro-msg {
    color: var(--white);
    margin: 0;
    margin-bottom: 0.5rem;
    text-align: left;
}

.css-button-arrow--black {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background-color: #343a40;
}

.css-button-arrow--black:hover {
    border-radius: 5px;
    padding-right: 24px;
    padding-left: 8px;
}

.css-button-arrow--black:hover:after {
    opacity: 1;
    right: 10px;
}

.css-button-arrow--black:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    font-size: 30px;
    line-height: 35px;
    top: 0;
    right: -20px;
    transition: 0.4s;
}

.midle-box {
    margin: 0 auto;
    padding: 5px;
}

.main_article {
    margin: 0 auto;
    align-items: center;
}

.side_article {
    background-color: var(--charcoal);
    color: var(--white);
    padding: 10px;
}

.box-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
}

.box-card p {
    padding: 5px;
    text-align: left;
    line-height: 1.6;
    text-align: left;
    align-items: start;
    margin: 0;
}

.main_article img {
    width: 90%;
    max-width: 520px;
    border-radius: 10px;
    height: auto;
}

.contact-info {
    display: flex;
    justify-content: space-around;
    background-color: #1c1c1c;
    padding: 20px;
    color: #fff;
}

.contact-item h4 {
    margin: 0;
    font-weight: bold;
}

.contact-item p {
    margin: 5px 0 0;
}

#current-temp {
    color: var(--orange-wheel);
}

.contact-item img:hover {
    transform: scale(1.5);
    filter: brightness(1.2);
    transition: transform 0.3s ease, filter 0.3s ease;
}

.contact-item img {
    width: 30px;
    margin: 0 2px;
    vertical-align: middle;
    height: auto;
}

.social-box {
    padding: 20px;
    background-color: var(--eerie-black);
}

.action-box {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto 1fr;
}

.action-box img {
    grid-column: 1/4;
    grid-row: 1/4;
    width: 100%;
    height: auto;
    max-width: 900px;
}

.action-msg {
    grid-row: 2/3;
    grid-column: 2/3;
    text-align: center;
    background-color: #343a4085;
    width: 350px;
    padding: 10px;
}

.action-msg h2,
.action-box h4,
.current-weather h4,
.current-weather h5 {
    margin: 0;
}

.action-msg h2 {
    font-size: 3rem;
    color: var(--white);
}

.action-msg h4 {
    font-size: 1.5rem;
    color: var(--white);
}

.socia-info {
    padding-top: 20px;
}

.contact-item,
.current-weather {
    color: var(--white);
    display: block;
    padding-top: 40px;
}

.weather-main {
    display: inline-block;
}

.current-weather {
    margin: 0;
    text-align: left;
}

.current-weather p {
    font-size: 1rem;
    margin: 0;
}

.current-weather img {
    width: 70px;
    height: auto;
}

.current-weather figure,
.current-weather figcaption {
    margin: 0;
    text-align: center;
    font-weight: bold;
}

/* Contact*/

.image-side img {
    max-width: 100%;
    display: block;
    opacity: 0;
    transition: opacity 0.8s ease, transform 0.8s ease;
    height: auto;
}

.image-side img.initial {
    transform: scale(0.8) rotateY(-30deg);
}

.image-side img.fade {
    opacity: 1;
    transform: scale(1) rotateY(0deg);
}

.contact-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container {
    padding: 20px;
}

.form-container form {
    background-color: hsla(165, 19%, 40%, 0.5);
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 15px;
}

.css-button-fully-rounded--grey {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 20px;
    border: 2px solid #495057;
    background: #495057;
}

.css-button-fully-rounded--grey:hover {
    background: #fff;
    color: #495057;
}

.box-contact-action {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto 1f 1fr;
    margin-top: 20px;
}

.image-side img,
.form-container,
.image-container img,
.final-contact {
    border-radius: 15px;
}

.image-container img {
    width: 100%;
    height: auto;
}

.image-container {
    grid-row: 1/4;
    grid-column: 1/4;
    z-index: 0;
}

.final-contact {
    margin-top: 10px;
    grid-row: 1;
    grid-column: 2;
    z-index: 1;
    background-color: hsla(120, 7%, 11%, 0.5);
    padding: 10px;
}

.contact-item-social {
    margin-top: 20px;
}

.contact-item-social img {
    padding: 0;
    width: 20px;
    height: auto;
}

.final-contact h3,
.final-contact p {
    margin: 0;
    margin-top: 10px;
    text-align: center;
    color: var(--white);
}

/* Visit */

/* Sección Principal */
.section-principal {
    padding: 20px;
    text-align: center;
    color: var(--eerie-black);
}

.section-principal h2 {
    color: var(--caribbean-current);
    margin-bottom: 15px;
}

.section-principal h2 span {
    color: var(--orange-wheel);
}

/* Caja de Precios */
.price-box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding-top: 20px;
}

.price-box div {
    background-color: var(--mint-cream);
    border: 1px solid var(--ash-gray);
    border-radius: 8px;
    padding: 20px;
    width: calc(100% / 3 - 20px);
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
}

.price-box div:hover {
    transform: translateY(-10px);
}

.price-box img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.price-box h4 {
    color: var(--caribbean-current);
    margin: 10px 0 5px;
}

.price-box h5 {
    color: var(--fire-engine-red);
    margin: 0 0 15px;
}

.price-box p {
    text-align: center;
    color: var(--dark-slate-gray);
    margin-bottom: 20px;
}

/* Botón de Reservar */
.price-box button {
    background-color: var(--prussian-blue);
    color: var(--font-color-on-background-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.price-box button:hover {
    background-color: var(--orange-wheel);
    color: var(--font-color-on-background-color);
}

/* ----------  */

/* Sección de Ofertas */
.section-media {
    padding: 20px;
    text-align: center;
    color: var(--eerie-black);
    background-color: var(--eerie-black);
}

.section-media h2 {
    color: var(--caribbean-current);
    margin-bottom: 15px;
}

.section-media p {
    text-align: justify;
    color: var(--white);
    padding: 20px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.slider-dimensions {
    width: min(100vw, 720px);
    aspect-ratio: 3 / 2;
    position: relative;
}

.slider-container {
    position: relative;
    overflow: hidden;
    background-color: var(--eerie-black);
    margin: 0 auto;
}

.slider {
    position: absolute;
    display: flex;
    transform: translateX(-0%);
    transition: transform 1s;
}

.slider>div {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

/* Para centrar el h4 en la parte inferior de cada imagen */
.slider-dimensions h4 {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1.2em;
    text-align: center;
    background: rgba(0,
            0,
            0,
            0.5);
    padding: 5px 10px;
    border-radius: 5px;
}

.nav-container {
    position: absolute;
    padding: 0 20px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: radial-gradient(transparent, rgba(0, 0, 0, 0.3));
    opacity: 0;
    transition: opacity 0.2s;
}

.nav-container:hover {
    opacity: 1;
}

.index-container {
    align-self: flex-end;
    display: flex;
    gap: 30px;
}

.index-container>button {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    transition: background-color 0.2s;
    cursor: pointer;
}

.index-container>button:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

button[data-index-change] {
    font-size: 40px;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Section opinion*/

/* Sección de Opiniones */
.section-opinion {
    padding: 60px 20px;
    text-align: center;
    color: var(--font-color-on-background-color);
    display: grid;
    gap: 20px;
}

/* Encabezado */
.section-opinion h2 {
    color: var(--black);
    margin-bottom: 40px;
}

/* Estilos para cada Opinión */
.opinion {
    background: rgba(255, 255, 255, 0.8);
    color: var(--eerie-black);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.opinion p {
    margin-bottom: 10px;
}

.opinion h5 {
    color: var(--caribbean-current);
    margin-top: 10px;
    text-align: right;
}

.contact-info-visit {
    background-color: var(--eerie-black);
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
}

.contact-info-visit a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: var(--white);
    border-radius: 50%;
    transition: transform 0.3s, background-color 0.3s;
}

.contact-info-visit a:hover {
    background-color: var(--caribbean-current);
    transform: scale(1.1);
}

.contact-info-visit img {
    width: 24px;
    height: 24px;
    filter: invert(1);
    transition: filter 0.3s;
}

.contact-info-visit a:hover img {
    filter: invert(0);
}

/* Footer */
footer {
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
    font-weight: bold;
}

footer p {
    margin: 10px 0;
    font-size: 1.2rem;
    color: var(--font-color-on-background-white);
}

footer .social {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

footer .icon {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}

footer .icon:hover {
    transform: scale(1.1);
}

@media (min-width: 767px) {

    h1,
    h2,
    h3,
    h4,
    h5,
    a,
    label {
        font-family: var(--header-font-family);
        font-size: var(--font-size-dv-header);
    }

    p {
        font-family: var(--paragraph-font-family);
        font-size: var(--font-size-dv-paragraph);
    }

    header {
        flex-wrap: wrap;
        justify-content: left;
        gap: 10px;
        padding: 5px;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .logo-chamber {
        width: 100px;
        height: 100px;
    }

    header h1 {
        padding: 10px 0;
    }

    nav ul {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav ul li {
        display: block;
        flex: 1 1 auto;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .nav-a {
        position: relative;
        transition: color 0.2s ease;
        text-align: center;
        padding: 8px 16px;
        text-decoration: none;
        margin-bottom: 5px;
    }

    .nav-a:hover {
        color: var(--nav-hover-link-color);
    }

    .nav-a:hover::after,
    .nav-a:hover::before {
        width: 100%;
        left: 0;
    }

    .nav-a::after,
    .nav-a::before {
        content: "";
        position: absolute;
        top: calc(100% + 5px);
        width: 0;
        right: 0;
        height: 3px;
    }

    .nav-a::before {
        transition: width 0.4s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
        background: var(--lunar-base);
    }

    .nav-a::after {
        transition: width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
        background: var(--king-kong);
    }

    nav li:last-child {
        border-bottom: none;
    }

    #menu {
        display: none;
    }

    .midle-box {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 2fr;
        margin: 0 auto;
    }

    .side_article {
        grid-row: 1/3;
        grid-column: 1;
        z-index: 0;
    }

    .side_article h3,
    .side_article p {
        grid-row: 2;
        grid-column: 1;
        z-index: 1;
    }

    .main_article {
        grid-row: 1/3;
        grid-column: 2;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 5px;
        place-items: center;
        margin: 0 auto;
        align-items: start;
    }

    .box-card {
        display: grid;
        justify-items: center;
        align-items: center;
    }

    .box-card img {
        margin: 0 auto;
        height: 100%;
        max-width: 520px;
    }

    .box-card h4 {
        padding: 5px;
        margin: 10px;
        height: 60px;
    }

    .contact-item,
    .current-weather {
        color: var(--white);
        display: inline-block;
        padding-right: 55px;
    }

    .contact-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1f 1fr;
    }

    .nav-container {
        padding: 0 0 10px;
    }

    .index-container {
        gap: 20px;
    }

    .section-opinion {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    /* Opiniones en línea usando Flexbox */
    .section-opinion h2 {
        margin-bottom: 30px;
    }

    .opinion {
        flex: 1;
        max-width: 300px;
        margin: 0 10px;
        height: 300px;
    }
}